#rsSummary {
    background: #fffbf6;
}
.rs-summary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: calc(100vh - 92px);
    background-image: url("/static/bg-image.svg");
    background-repeat: no-repeat;
    background-position: 95% 64%;
    &__left {
        margin-top: 3rem;
    }
}

@media screen and (max-width: 600px) {
    .rs-summary {
        background-image: none;
        &__left {
            margin-top: unset;
        }
    }
  }