.rs-primary-btn {
    border-radius: 24px;
    height: 48px;
    &--primary {
        background-color: #37966f;
        color: #FFF;
        padding: 0 24px;
        border: none;
    }
    &--primary-red {
        background-color: #eb5757;
        color: #FFF;
        padding: 0 24px;
        border: none;
    }
}