.rs-navbar {
  text-align: center;
  overflow: hidden;
  a {
    overflow: hidden;
    color: rgb(5, 0, 56);
    background: linear-gradient(to right, royalblue, royalblue 50%, #363636 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 275ms ease;
    text-decoration: none; // text decorations are clipped in WebKit browsers
    &:hover {
      background-position: 0 100%;
    }
  }
}

.offcanvas-top {
  height: 80vh;
}

@media screen and (min-width: 768px) {
  .rs-navbar {
    a {
      padding-left: 1.2rem !important;
      padding-right: 1.2rem !important;
    }
    &--res {
      display: block;
    }
  }
}

@media screen and (max-width: 768px) {
  .rs-navbar {
    a {
      padding: 1.5rem 0.5rem !important;
    }
    &--res {
      display: none;
    }
  }
}