#rsHeader {
    position: sticky;
    top: 0;
    z-index: 99;
    border-bottom: 1px solid #eee;
    background: #FFF;
}

.rs-header {
    min-height: 80px;
    display: flex;
    justify-content: space-between;
    &__btn {
        margin-left: 2rem;
    }
}
  
@media screen and (max-width: 600px) {
    .rs-header {
        min-height: 66px;
    }
}