.rs-info-box {
    margin-right: 3rem;
    padding: 24px;
    background: #eceefa;
    border-radius: 12px;
    &__header {
        margin-bottom: 0.2rem;
    }
    &__desc {
        font-size: 0.8rem;
        opacity: 0.78;
        line-height: 1.4rem;
        margin-bottom: 0;
    }
}