#rsHeader {
//   position: sticky;
//   top: 0;
  z-index: 99;
  background: transparent;
}

.rs-header {
  min-height: 120px;
  display: flex;
  justify-content: space-between;
  &__btn {
    margin-left: 2rem;
  }
}

#rsHeader {
  top: -100px;
  transition: top 0.5s ease-in-out;
}

#rsHeader.sticky {
  position: sticky;
  top: 0;
  box-shadow: 0 10px 10px -10px rgb(33 35 38 / 10%);
  background: rgba(255, 255, 255, 0.96);
  .rs-header {
    min-height: 88px;
  }
}

@media screen and (max-width: 768px) {
  .rs-header {
    min-height: 66px;
  }
}
