#rsHeader {
  position: sticky;
  top: 0;
  z-index: 99;
  background: transparent;
  // transition: top 0.5s ease-in-out;
}

.rs-header {
  height: 66px;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 99;
  transform: translateY(0);
  transition: transform 0.3s ease;
  background: #FFF;
  border-bottom: 1px solid #eee;
  &__btn {
    margin-left: 2rem;
  }
  > nav {
    width: 100%;
  }
  img {
    width: 180px;
  }

  .show {
    background: #FFF;
    margin-top: 1.5rem;
    padding: 2rem 0;
    margin: 0.8rem -1rem;
    transition: top 0.5s ease-in-out;
  }
}

#rsHeader.sticky {
  // position: sticky;
  // top: 0;
  box-shadow: 0 10px 10px -10px rgb(33 35 38 / 10%);
  background: rgba(255, 255, 255, 0.96);
  .rs-header {
    min-height: 88px;
  }
}

.shadow {
  box-shadow: 0 9px 9px -9px rgba(0, 0, 0, 0.13);
}

.hidden {
  transform: translateY(-110%);
}

@media screen and (max-width: 768px) {
  .rs-header {
    min-height: 66px;
  }
}
