.rs-card {
    background: #eceefa;
    border-radius: 12px;
    padding: 40px 12px 24px 12px;
    height: 28rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;

    &__list {
        list-style-type: none;
    }
    &__list-item {
        line-height: 2.5rem;
        display: flex;
        align-items: center;
        > img {
            width: 24px;
            margin-right: 1rem;
        }
    }
    &__tag {
        position: absolute;
        top: 18px;
        left: -10px;
        padding: 7px 12px;
        background: #EB5757;
        color: #FFF;
        font-size: 0.8rem;
        border-radius: 8px;
    }
    &__img {
        width: 78%;
    }
}

@media screen and (max-width: 600px) {
    .rs-card {
        height: 24rem;
        &__img {
            width: 55%;
        }
    }
}

@media screen and (max-width: 600px) {
    .rs-card-wrapper {
        padding: 0 0.8rem;
        display: flex;
        overflow-x: auto;
        white-space: nowrap;
        > div {
            flex: 0 0 80vw;
        }
    }
}