.rs-nav-menu {
        a{
            padding-left: 1rem !important;
            padding-right: 1rem !important;
            &:hover {
                cursor: pointer;
                font-weight: 600;
                color: #eb5757;
                text-decoration: none;
                &::after {
                    opacity: 1;
                    width: 100%;
                }
            }
            &::after {
                background: #eb5757;
            }
        }
}