body {
    font-family: 'Sofia Pro', sans-serif;
    color: #050037;
}

h1 {
    font-size: 2rem;
    font-weight: 700;
    line-height: 2.8rem;
}
h2 {
    font-size: 2rem;
    line-height: 2.5rem;
}
h3{
    font-size: 1.5rem;
    line-height: 1.7rem;
    font-weight: 600;
}
h4 {
    font-size: 1rem;
    line-height: 1.5rem;
}
h5 {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 500;
}
h6 {
    font-size: 0.9rem;
    font-weight: 400;
    opacity: 0.7;
}
p {
    line-height: 1.7rem;
}

@media screen and (max-width: 600px) {
    h1 {
        font-size: 2.2rem;
        line-height: 2.8rem;
    }
}

.rs-grey-txt {
    color: #808080;
}

.rs-large-para {
    font-size: 1.2rem;
    margin-bottom: 1.8rem;
    margin-top: 0 !important;
    margin-bottom: 0 !important;;
}