// layout styles

main {
    background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
}

// #rsSummary {
//     background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
// }

#rsFeatures {
    background: #FFF;
}

@media screen and (max-width: 540px) {
    .rs-section-wrapper {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

@media screen and (min-width: 540px) and (max-width: 988px) {
    .rs-section-wrapper {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

@media screen and (min-width: 1200px) {
    .rs-section-wrapper {
        padding-left: 5rem;
        padding-right: 5rem;
    }
}